/* styles.css */

.topic-sentence {
    font-size: 35px; /* Adjust font size as needed */
    font-weight: bold;
    /* margin-bottom: 20px; */
	padding: 20px 50px;	/* Add space below the topic sentence */
}

/* Filter container styles */
.filter {
    float: left;
    width: 200px; /* Adjust width as needed */
    padding: 0px 50px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */ 
    margin-left : 20px;
	margin-right: 20px; /* Add space between filter and items container */
}

/* Add padding between form and filter container */
.filter form {
    margin-bottom: 20px;
}

/* Items grid styles */
.items-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns grid */
    gap: 20px; /* Gap between grid items */
    margin-left: 200px; /* Adjust margin to add space between filter and items container */
	margin-right: 50px;
	margin-bottom: 100px;
}

/* styles.css */

/* Item container styles */
.item {
	height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px;
    position: relative; /* Position relative for absolute positioning of button */
}

/* View details button styles */
.item button {
	width : 90%;
    background-color: #807567;
    color: white;
    border: none;
    padding: 10px 30px; /* Adjust padding to fit button with container */
    cursor: pointer;
    position: absolute;
    bottom: 20px; /* Adjust position from bottom as needed */
}


/* Image styles */
.item img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Prevent stretching, maintain aspect ratio */
}
